.search-box {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.transparent {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.search-button {
    -fx-background-color: #828282;
    -fx-background-radius: 30;
}

.right-bar {
    -fx-background-color: #00AE07;
}

.right-bar-codigos {
    -fx-background-color: #f5aa42;
}

.shadow {
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.1), 10.0, 0.0, 0.0, 10.0);
}

.chosen-fruit-card {
    -fx-background-color: #F16C31;
    -fx-background-radius: 30;
}

.comboBox {
    -fx-background-color: rgba(255, 255, 255, 0.3);
    -fx-background-radius: 30;
}

.add-btn {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.boton-verde {
    -fx-background-color: #00AE07;
    -fx-background-radius: 100;
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.1), 10.0, 0.0, 0.0, 10.0);
}

.boton-naranja {
    -fx-background-color: #f5aa42;
    -fx-background-radius: 100;
}

.free-delivery-card {
    -fx-background-color: #D3D3D3;
    -fx-background-radius: 30;
}

.shopping-online-card {
    -fx-background-color: #BAEAC3;
    -fx-background-radius: 30;
}

.fruit-item {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}

.comentario-item {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
}

.image {
    -fx-background-radius: 30;
}

.combo-verde {
    -fx-background-color: #3be841;
    -fx-background-radius: 10;
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.1), 10.0, 0.0, 0.0, 10.0);
}

.combo-naranja {
    -fx-background-color: #f5aa42;
    -fx-background-radius: 10;
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.1), 10.0, 0.0, 0.0, 10.0);
}